.containerFade {
    position: relative;
    width: 100%;
    padding: 5px 0;
    margin: 0;
    overflow: hidden;
  }
  
  .containerFade > :nth-child(n) {
    padding: 0;
    margin: 0;
  
  }
  .containerFade img {
    display: block;
    cursor: pointer;
    margin: 0;
    width: 101%;
    height: 160px;
    object-fit: cover;
  }
  .sliderWhatsapp {
    right: 10px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
  position: absolute;
  z-index: 10000;
  }
  