.containerFade {
    position: relative;
    width: 100%;
    padding: 5px 0;
    margin: 0;
    overflow: hidden;
  }
  .containerFadeLeft {
    position: fixed;
    left: 0;
    width: 15%;
    height: 100vh;
  }
  .containerFadeRight {
    position: fixed;
    right: 0;
    width: 15%;
    height: 100vh;
  }
  .containerFade > :nth-child(n) {
    padding: 0;
    margin: 0;
  
  }
  .containerFade img {
    display: block;
    cursor: pointer;
    margin: 0;
    width: 101%;
    height: 160px;
    object-fit: cover;
  }
  .containerFadeLeft span img {
    display: block;
    cursor: pointer;
    margin: 0;
    width: 101%;
    height: 100vh;
    object-fit: cover;
    padding: 7px;
  }
  .containerFadeRight span img {
    display: block;
    cursor: pointer;
    margin: 0;
    width: 101%;
    height: 100vh;
    object-fit: cover;
    padding: 7px;
  }
  .containerFade .sliderWhatsapp {
    right: 10px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
  position: absolute;
  z-index: 10000;
  }
  .sliderIMG {
    display: block;
    cursor: pointer;
    margin: 0;
    width: 101%;
    height: 160px;
    object-fit: cover;
  }


  .sliderWhatsapp {
    right: 10px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
  position: absolute;
  z-index: 10000;
  }
  