.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bannerIntroContainer {
  width: 100%;
  height: auto;
  max-height: 200px;
  margin: 0;
}

.bannerIntroIMG {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.fecha {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: brown;
  color: #ffffff;
}

.fecha :nth-child(n) {
  margin: 0;
  padding: 0;
}

.calendario {
  display: inline-block;
  font-size: 10px;
  width: 120px;
}


.portada {
  display: flex;
  justify-content: space-around;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.socialMedia> :nth-child(1) {
  font-weight: bold;
  font-size: 24px;
}

.socialMediaIcons {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.socialMediaIcons> :nth-child(n) {
  display: inline-block;
  height: 35px;
  width: auto;
  margin: 5px;
}

.video {
  width: 60%;
}



.inputFile {
  display: none;
}
.label{
  width: 33%;
  color: white;
  padding: 2px 0;
  margin: 5px 0;
  background-color: brown;
  border: 1px solid brown;
  border-radius: 10px;
  text-align: center;
  transition-property: all;
  transition-duration: .4s;
}

.label:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid brown;
  color: brown;
}