.header {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bannerIntroContainer {
  position: relative;
  width: 100%;
  min-height: 100px;
  margin: 0;
  text-align: center;
}
.bannerIntroContainer > :nth-child(n) {
  margin-bottom: 5px;
}
.selectBannerIntroConatainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputFile {
  display: none;
}
.label{
  display: inline-block;
  width: 20%;
  color: white;
  padding: 2px 0;
  background-color: #007483;
  border: 1px solid brown;
  border-radius: 10px;
  text-align: center;
  transition-property: all;
  transition-duration: .4s;
}

.label:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid brown;
  color: brown;
}


.input {
  width: 20%;
  margin-bottom: 5px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid brown;
}

.previewIMG {
  object-fit: cover;
  min-height: 150px;
  max-height: 150px;
  width: 100%;
}
.fecha {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #007483;
  color: #ffffff;
}

.fecha :nth-child(n) {
  margin: 0;
  padding: 0;
}

.calendario {
  display: inline-block;
  font-size: 10px;
  width: 120px;
  height: 16px;
}


.portada {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.socialMedia> :nth-child(1) {
  font-weight: bold;
  font-size: 24px;
}

.socialMediaIcons {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.socialMediaIcons img {
  display: inline-block;
  height: 45px;
  width: auto;
  margin: 5px;
}

.video {
  width: 60%;
  border-radius: 35px;
}

.containerFade {
  width: 100%;
  padding: 0;
  margin: 0;
}

.containerFade :nth-child(n) {
  padding: 0;
  margin: 0;

}



.sliderIMG {
  cursor: pointer;
  margin: 0;
  width: 101%;
  height: 160px;
  object-fit: cover;
}
.sliderWhatsapp {
  right: 10px;
  bottom: 10px;
  height: 30px;
  width: 30px;
  cursor: pointer;
position: absolute;
z-index: 10000;
}

