.container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgb(217, 217, 217);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.video {
    width: 40%;
    min-width: 300px;
    max-width: 400px;

    border:10px solid black;
    border-radius: 5px;
 
  }
.img {
    height: auto;
    width: 50%;
    min-width: 300px;
    max-width: 400px;

}
.span {
    background-color: rgb(254, 254, 254);
    display: inline-block;
    height: 20%;
    width: 20%;
    border-radius: 10px;
    color: white;
    border: 5px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
}