.container {
    width: 100%;
    color: white;
    background: #004752  ;
    border-bottom: 2.5px solid brown;
    font-size: 10px;
    margin-bottom: 5px;
}

.nav {
    font-size: 10px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #ffffff;
}

.nav > :nth-child(n) {
    width: auto;
    padding:2px 3px;
    background: linear-gradient(to right, #00353d, #007483, #007483, #007483, #007483, #00353d)  ;
}

@media (max-width: 750px) {
    .header {
        background-color: rgb(187, 187, 187);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
    
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}